<div class="login card-panel grey lighten-5">
  <div class="login2">
  <h4>Please sign in</h4>
  <div class="input-field">
    <input ng-model="emailAddress" id="username" type="text">
    <label for="emailAddress">Email address</label>
  </div>
  <div class="input-field">
    <input type="password" ng-model="password" id="password">
    <label for="password">password</label>
  </div>
    <button ng-click="login()" class="btn btn-primary" style="width:320px;margin-top:10px">Sign In</button>
  </div>
</div>
