<div ng-init="getUser()">

<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center ">Star Spangler</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/#/viewDocuments">View Documents</a></li>
      <li><a href="/#/editProfile">Edit Profile</a></li>
    </ul>
    <ul id="nav-mobile" ng-switch on="user.profile.userName || 'undefined'" class="right hide-on-med-and-down">
      <li ng-switch-when="undefined"><a href="/#/">{{user.emailAddress}}</a></li>
      <li ng-switch-default><a href="/#/">{{user.profile.userName}}</a></li>
    </ul>
  </div>
</nav>

<div class="profile card-panel">
  <div id="avatar">
    <div id="avatarCover" ng-click="changeAvatar()"></div>
    <p id="avatarText" ng-click="changeAvatar()"> Change Avatar</p>
    <img id="avatarImg" width="120" height="120" src="http://materializecss.com/images/sample-1.jpg">
  </div>
  <input type="file" id="uploadPhoto" style="display: none" />
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input id="userName" type="text" value="{{user.profile.userName}}">
      <label for="userName">User Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <input id="emailAddress" type="text" value="{{user.profile.emailAddress}}">
      <label for="emailAddress">Email Address</label>
    </div>
  </div>
  <div class="name1">
    <div class="name2 row">
      <div class="input-field col s12">
        <input id="firstName" type="text" value="{{user.profile.firstName}}">
        <label for="firstName">First Name</label>
      </div>
    </div>
    <div class="name2 row" style="margin-left:10px">
      <div class="input-field col s12">
        <input id="lastName" type="text" value="{{user.profile.lastName}}">
        <label for="lastName">Last	Name</label>
      </div>
    </div>
  </div>
  <div ng-repeat="phone in user.profile.phones">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="phones" value="{{phone}}">
        <label>Phone Number</label>
      </div>
    </div>
  </div>
  <p id="addPhone" class="hvr-grow" ng-click="addPhone()"><i class="fa fa-plus" style="font-size:25px;color:rgb(0,188,212)"></i></p>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" data-role="materialtags" id="favoriteThings">
      <label>Favorite Thing</label>
    </div>

  </div>
    <!-- <p id="addFavorite" class="hvr-grow" ng-click="addFavorite()"><i class="fa fa-plus" style="font-size:25px;color:rgb(0,188,212)"></i></p> -->
  <a class="btn waves-effect waves-light" style="margin-top:5px;margin-left:337px" ng-click="updateProfile()">Save&nbsp;&nbsp;<i class="fa fa-paper-plane" style="font-size:16px"></i></a>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="javascripts/materialize-tags.min.js"></script>
<script type="text/javascript">
  $("#userName").click();
</script>
