<nav ng-init="getUser()">
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center ">Star Spangler</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/#/manageUsers">Manage Users</a></li>
      <li><a href="/#/manageDocuments">Manage Documents</a></li>
      <li><a href="/#/manageLists">Manage Lists</a></li>
      <li><a href="/#/editProfile">Profile</a></li>
    </ul>
    <ul id="nav-mobile" onclick="logout()" ng-switch on="user.profile.avatarImage || 'undefined'" class="right hide-on-med-and-down">
      <li ng-switch-default>
        <div class="navAvatarCover"><p class="navAvatarText">logout</p></div>
        <img class="navAvatar" width="50" height="50" ng-src="/api/avatar/{{user.profile.avatarImage}}">
      </li>
      <li ng-switch-when="undefined" ng-switch on="user.profile.userName || 'undefined'">
        <a ng-switch-default>{{user.profile.userName}}</a>
        <a ng-switch-when="undefined">{{user.emailAddress}}</a>
      </li>
    </ul>
  </div>
</nav>

<div id="addUser">
  <div class="card-panel" style="text-align: center;">
    <div class="input-field" style="float:left; margin-top:0px;">
      <input id="emailAddress" ng-model="emailAddress" type="text" class="validate">
      <label for="emailAddress">Email Address</label>
    </div>
    <div>
      <a class="btn-floating waves-effect waves-light red" style="margin-top:5px" ng-click="addUser()"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>

<div id="manageUser" class="card-panel">
  <table>
    <thead>
      <tr>
        <th>Email Address</th>
        <th width="20%">Admin</th>
        <th width="17%">Add To List</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.emailAddress}}</td>
        <td>
          <div class="switch" ng-switch on="user.userType" style="margin-left:-10px">
            <label ng-switch-when="admin">
              <input type="checkbox" ng-model="check" ng-init="check=true" ng-change="changeType('{{user.emailAddress}}', this)">
              <span class="lever"></span>
            </label>
            <label ng-switch-when="user">
              <input type="checkbox" ng-model="check" ng-init="check=false" ng-change="changeType('{{user.emailAddress}}', this)">
              <span class="lever"></span>
            </label>
          </div>
        </td>
        <td style="text-align:center">
          <i class="material-icons" style=" margin-top:-3px" ng-click="addToList(user.emailAddress)">add</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
