<nav ng-init="getUser()">
  <div class="nav-wrapper teal lighten-2">
    <a href="#" class="brand-logo center ">Star Spangler</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="badges.html">Manage User</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">{{user.userName}}</a></li>
    </ul>
  </div>
</nav>
<!-- <div id="addUser">
  <div class="card-panel" style="text-align: center">
    <div class="input-field">
      <input id="first_name" ng-model="firstName" type="text" class="validate">
      <label for="first_name">Email Address</label>
    </div>
    <div>
      <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  </div>
</div> -->

<div id="manageUser" class="card-panel">
  <table>
    <thead>
      <tr>
        <th>Email Address</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>594487125@qq.com</td>
        <td>
          <div class="switch">
            <label>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>594487125@qq.com</td>
        <td>
          <div class="switch">
            <label>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>594487125@qq.com</td>
        <td>
          <div class="switch">
            <label>
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
