body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  width: 90% !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.login{
  width:430px;
  height:305px;
  margin:0 auto !important;
  margin-top: 70px !important;
}

.login2{
  width:320px;
  height:300px;
  margin:0 auto;
}

nav{
  position:fixed;
  top:0px;
  left:0px;
  z-index: 999;
}

#addUser{
  width: 300px;
  margin:0 auto;
  margin-top: 35px;
  text-align: center
}
#manageUser{
  width: 600px;
  margin:0 auto;
  margin-top: 20px;
}

td{
  font-weight: normal;
}

.leftPanel{
  position:absolute;
  top:80px;
  left:20px;
  text-align: center;
}

.document {
  position:relative;
  top:30px;
  width: 800px;
  margin: 0 auto;
}

.selectedPanel{
  z-index:900;
  position: absolute;;
  width: 308px;
  top:100px;
  left:-310px;
}
.floatOut{
  animation: out 1s;
  left:0px;
}
@keyframes out{
  from{left:-310px;}
  to{left:0px;}
}

.floatIn{
  animation: in 1s;
  left:-310px
}
@keyframes in{
  from{left: 0px}
  to{left; -310px}
}

.dNumber{
  float:left;
  text-align: center;
  vertical-align: middle;
}

.addDocument{
  float: right;
  /*margin-top:-1px;
  z-index: 800;*/
}

.documentNumber{
  height: 19px;
  line-height: 19px;
  vertical-align:middle;
}

.chip{
  margin: 2px;
}

.rateYo{
  margin:0 auto;
  margin-top:10px
}

.profile{
  margin:0 auto !important;
  margin-top: 40px !important;
  width: 500px;
  text-align: center;
}

#avatar{
  width: 120px;
  height: 120px;
  margin: 0 auto;

}
#avatarImg{
  border-radius:60px;
}
#avatarText{
  position: absolute;
  margin: 50px 10px;
  color: white;
  opacity: 0;
}
#avatarCover{
  width: 120px;
  height: 120px;
  border-radius:60px;
  float: left;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  background-color: black;
  color: white;
  opacity: 0;
}
#avatarCover:hover{
  opacity: 0.4;
}
#avatarCover:hover + #avatarText{
  opacity: 0.9;
}
#avatarText:hover{
  opacity: 0.9;
}

.name1{
  height: 75px;
}

.name2{
  width:225px;
  float:left;
}

#addPhone{
  margin-top: -50px;
  margin-bottom:0px
}
