body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login{
  width:430px;
  height:305px;
  margin:0 auto !important;
  margin-top: 70px !important;
}

.login2{
  width:320px;
  height:300px;
  margin:0 auto;
}

nav{
  position:fixed;
  top:0px;
  left:0px;
}

#addUser{
  width: 300px;
  margin:0 auto;
  margin-top: 35px;
  text-align: center
}
#manageUser{
  width: 60%;
  margin:0 auto;
margin-top: 20px;
}

td{
  font-weight: normal;
}

.leftPanel{
  position:absolute;
  top:80px;
  left:20px;
  text-align: center;
}
